<div class="configurator-container">
  <section class="options-section">
    <button 
      class="option"
      *ngFor="let option of activeProperty.options"
      [ngClass]="{'active': activeProperty.value === option}"
      (click)="controlChanged(activeProperty, option)"
      >
      {{ option.displayName }}
    </button>
  </section>
  <section class="image-section">
      <!--<app-configured-image></app-configured-image>-->
  </section>
</div>
<section class="navigation-section">
  <button 
    class="next-button" 
    *ngIf="activeProperty !== properties[0]"
    (click)="previousProperty()"
    >
      Previous
  </button>
  <button 
    class="next-button" 
    *ngIf="activeProperty !== properties[properties.length - 1]"
    (click)="nextProperty()"
    >
      Next
  </button>
</section>  
<section class="progress-section">
    <button 
      class="progress-indicator"
      *ngFor="let property of properties"
      [ngClass]="{'active': activeProperty.name === property.name}"
      (click)="setActiveProperty(property)"
      >
      {{ property.displayName }}
    </button>
  </section>